[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.7.0"
build = "==1.2.2.post1"
cachecontrol = "==0.14.0"
cleo = "==2.1.0"
click = "==8.1.7"
colorama = "==0.4.6"
crashtest = "==0.4.1"
distlib = "==0.3.8"
dulwich = "==0.21.7"
email-validator = "==2.2.0"
fastapi = "==0.115.0"
fastapi-cli = "==0.0.5"
fastjsonschema = "==2.20.0"
filelock = "==3.16.1"
h11 = "==0.14.0"
httpcore = "==1.0.6"
httptools = "==0.6.1"
installer = "==0.7.0"
itsdangerous = "==2.2.0"
"jaraco.classes" = "==3.4.0"
keyring = "==24.3.1"
msgpack = "==1.1.0"
orjson = "==3.10.7"
pexpect = "==4.9.0"
pkginfo = "==1.11.1"
poetry = "==1.8.3"
poetry-core = "==1.9.0"
poetry-plugin-export = "==1.8.0"
ptyprocess = "==0.7.0"
pydantic = "==2.9.2"
pydantic-extra-types = "==2.9.0"
pydantic-settings = "==2.5.2"
pydantic-core = "==2.23.4"
pygments = "==2.18.0"
pipenv = "==2024.1.0"
psycopg2 = "==2.9.9"
pyproject-hooks = "==1.2.0"
python-dotenv = "==1.0.1"
python-multipart = "==0.0.12"
pywin32-ctypes = "==0.2.3"
rapidfuzz = "==3.10.0"
requests-toolbelt = "==1.0.0"
shellingham = "==1.5.4"
sqlalchemy = "==2.0.0b1"
starlette = "==0.38.6"
tomlkit = "==0.13.2"
trove-classifiers = "==2024.9.12"
typer = "==0.12.5"
typing-extensions = "==4.12.2"
ujson = "==5.10.0"
uvicorn = "==0.31.0"
virtualenv = "==20.26.6"
watchfiles = "==0.24.0"

[dev-packages]

[requires]
python_version = "3.11"
